.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
public/build
storage/logs
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
npm-debug.log
Dockerfile*
docker-compose*
