.git
.gitignore
.agents
.env
.env.*
!.env.example
bootstrap/cache/*.php
node_modules
vendor
public/build
tests
README.md
AGENTS.md
docker-compose*
storage/logs
storage/logs/*
storage/framework/cache/*
storage/framework/cache/data
storage/framework/sessions/*
storage/framework/sessions
storage/framework/views/*
storage/framework/views
npm-debug.log
Dockerfile*
